* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.q {
    display: flex;
    justify-content: space-between;
    padding: 30px 52px;
}

header {
    background-image: url(./assets/img/background_img.png);
    height: 100vh;
    height: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
}

.w {
    display: flex;
    gap: 50px;
}

.e {
    display: flex;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: left;
    color: white;
    background-color: rgba(0, 159, 245, 0.71);
    width: 243px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 21px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(218, 211, 255, 1);
}


.y {
    border: none;
    background-color: transparent;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: left;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 14px;
}

.t {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: left;
    color: white;
    margin-top: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.88);  
}

.u > div >  h1 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    background-color: rgba(255, 198, 17, 1);
    width: 604px;
    height: 103px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 11px solid rgba(90, 85, 85, 1);
    text-shadow: 0px 4px 4px rgba(0, 71, 255, 1);
}

.u > .i {
    padding: 177px 393px 132px 443px;
}


.o {
    display: flex;
    justify-content: space-between;
    padding: 0 52px;
}

.o > .p > p {
    background-color: rgba(31, 31, 31, 1);
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(255, 194, 0, 1);    
}

.o > .p {
    box-shadow: 8px 7px 20px 0px rgba(255, 255, 255, 1);
}

main > h1 {
    color: rgba(90, 85, 85, 1);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
    margin: 61px 517px 58px 577px;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-align: left;
}

.a {
    display: flex;
    justify-content: space-between;
    margin: 0 61px 168px 58px;
}

.a > div > p {
    color: white;
    width: 663px;
    height: 140px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
}

.a > div {
    display: flex;
    flex-direction: column;
}

.a > div > button {
    width: 278px;
    height: 61px;
    margin-top: 104px;
    box-shadow: 0px 7px 12.8px 0px rgba(255, 255, 255, 1);
    background-color: rgba(255, 194, 0, 1);
    border: none;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    transition: all 0.5s;
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);
}

.a > div > button:hover {
    background-color: rgba(83, 83, 83, 1);
    color: white;
    transition: all 0.5s;
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);
}


.s {
    display: flex;
    justify-content: space-between;
    margin: 0 76px 82px 58px;
}

.s > div > p {
    color: white;
    width: 663px;
    height: 140px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
}

.s > div {
    display: flex;
    flex-direction: column;
}
.s > div > button {
    width: 278px;
    height: 61px;
    margin-top: 104px;
    box-shadow: 0px 7px 12.8px 0px rgba(255, 255, 255, 1);
    background-color: rgba(255, 194, 0, 1);
    border: none;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    transition: all 0.5s;
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);
}


.s > div > button:hover {
    background-color: rgba(83, 83, 83, 1);
    color: white;
    transition: all 0.5s;
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);
}


footer {
    height: 158px;
    background-color: rgba(255, 198, 17, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.d {
    padding: 51px 0 52px 58px;
}

.f {
    padding: 61px 76px 52px 0px;
    display: flex;
    gap: 40px;
}